.box
{
    border: 2px solid black;
    height: 450px;
    width: 450px;
    margin: 15vh;
    margin-left: 71vh;
}
body
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
header
{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input
{
    height: 18px;
    width: 200px;
    display: inline-block;
    margin: -2px;
    margin-top: 50px;
}
label
{
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p
{
    border: 2px solid black;
    width: 60px;
    height: 25px;
    text-align: center;
    margin-left: 200px;
    margin-top: 70px;
    text-decoration: none;
    color:black;
    border-radius: 6px;
    background-color: orange;
}
footer
{
   margin-left: -35vh;
   margin-top: 7vh; 
   font-family:'Times New Roman', Times, serif;
}
a
{
    text-decoration: none;
}